@import "zmienne";
@import "mixins";


#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/footer/world-map.jpg);
    background-position: center;
    background-size: cover;


    .form-left {
        @include flexCenter(column, flex, wrap, space-between);
        input {
            height: 60px;
            @include input;
        }
    }

    .form-right {
        @include flexCenter(column, flex, wrap, space-between);

        textarea {
            @include input;
        }
    }
    button{
        @include blueButton; 
    }
    h2,p {
        color: $color-1;
    }
}


