@import "zmienne";

#main-nav {
    transition: $base-transition;
    &.scrolled{background-color: $color-3;}
    a {
        color: $color-1;
        &:hover {
            color: $color-2;
        }
        font-family: $font-1;
        font-weight: 800;
        transition: $base-transition;
    }
    #navbar-brand {
        font-family: $font-2;
        font-size: 30px;
        line-height: 30px;
    }
}
