body {
    margin:0;
    box-sizing: border-box;
}

section {
    text-align: center;
      padding: 25px 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

section h2 {
    text-transform: uppercase;
}

p {
    margin: 10px;
}

@import "nav";
@import "header"; 
@import "section-1";
@import "section-2";
@import "section-3";
@import "footer";
@import "contact";
@import "footer";