@media all and (max-width: 991px){
    #main-nav,
    #main-nav.scrolled {
        background-color: #fff;
    }
    
    #main-nav a,
    #main-nav.scrolled a {
       color: #0ed8d6;
    }
    
    .navbar-light .navbar-toggler {
    border: 2px solid #0ED8D6;
    fill: #0ED8D6;

}
}


@media all and (max-width: 768px){
    
  
        
    }
}